body {
    font-family: 'nunito';
}

.container {
    width: 90%;
    margin: 0 auto;
}

.content {
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}

h2 {
    font-size: 3.5em;
    margin: 20px 0px 0px 0px;
}


#search-box {
    width: 530px;
    margin-bottom: 25px;
}

#submit-button {
    padding-left : 30px;
    padding-right: 30px;
    border-color : #00AEEF;
    background-color: #00AEEF;
}

.input {
    border: 2px solid #898989;
    margin : -2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

#found-count p {
    margin-bottom: 24px;
    font-size : 1.2em;
}

img.img-book {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

td.picture {
    width:100px;
    padding: 0px;
}

td.book-data {
    width: 500px;
}

td.book-data p {
    margin: 0px 0px 0px 10px;
    word-break: break-word;
}

td.book-data p.title-book {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -5px;
}

td.book-data p.author-book {
    font-weight: bolder;
    font-size: 1em;
    color: #4D4D4D;
}

#num-rows {
    font-weight: bold;
    text-decoration: underline;
}

.button-detail td {
    padding: 0px;
    padding-bottom: 20px;
}

.submit-button {
    padding: 1px 20px;
    background-color: #00AEEF;
    border: 0px;
    margin : -2px;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'nunito';
    cursor: pointer;
}

.title-content {
    margin-bottom: 15px;
}

table {
    border-spacing: 0px; 
}

td {
    padding: 0px;
}

.desc-book {
    max-height: 4.3em;
    overflow: hidden;
    color: #4C4C4C;
    font-weight: lighter;
}

.img-book {
    border: 1px solid #464646;
}

.search-result{
    margin-left:30px;
    margin-right:30px;
}